p   /* balise à modifier */
{
    color: black;    /* la propriété et sa valeur */
    font-size: 14px;   /* Paragraphes de 14 pixels */
}

/* on peut effectuer la même modif sur plusieurs balises en même temps */

h1, em
{
    color: red;
}

/* .intro correspond au paragraphe identifié dans le fichier html, lui seul sera en bleu */
.intro
{
    color: blue;
}

/* .quantité correspond au span identifié */
.quantité
{
    color: green;
}

h1
{
    font-size: 40px; /* Titres de 40 pixels */
}

