p   /* balise à modifier */
{
    color: #1a1b1c;    /* la propriété et sa valeur */
    font-size: 1em;   /* Paragraphes en valeur relative */
    text-align: justify; /* le texte est justifié */
}

/* on peut effectuer la même modif sur plusieurs balises en même temps */

h1, em
{
    color: red;
}

/* .intro correspond au paragraphe identifié dans le fichier html, lui seul sera en bleu */
.intro
{
    color: rgb(247, 23, 191);
    font-style: italic; /* l'intro sera en italique */
    border-top: 2px dotted black;
    border-bottom: 2px dotted black;
}

/* .quantité correspond au span identifié */
.quantité
{
    color: rgb(242, 247, 242);
    border-left: 2px solid white;
    border-right: 2px solid white;
}

h1
{
    font-size: 2em; /* Titres en valeur relative */
    font-weight: bold; /* le titre sera en gras */
    text-align: center; /* le titre est centré */
    border: 4px white double; /* bordure blanche, double de 4px */
}

/* utilisation de la balise universelle pour appliquer le font-family à toutes les balises */
*
{
    font-family: 'Trebuchet MS', Arial, 'Times New Roman', Verdana, sans-serif;
}

em
{
    font-style: normal; /* permet de retirer l'effet italique de la balise em */
}

.souligne
{
    text-decoration: underline;
}

.barre
{
    text-decoration: line-through;
}

.ligne_dessus
{
    text-decoration: overline;
}

.droite
{
    text-align: right;
}

.imageflottante
{
    float: left;
}

.imageflottante2
{
    float: left;
}

.dessous
{
    clear: both;
}

/* modification de la couleur du fond de la page 

body
{
    background-color: #dbdad7; --> ou rgb (219,218,215) pour une nuance de gris clair
}

*/

/* ajout d'une image en arrière plan de la page */

/* body
{
    background-image: url(contenu/Grayfox3.png);
    background-attachment: fixed;    l'image de fond est fixe, seule le texte défile 
    background-repeat: no-repeat;     l'image ne se répète pas, si pas de background-repeat ou repeat seul, on aura une mosaique 
    background-position: top right;  l'image est placée en haut à droite 
}

*/

/* pour réduire le code on peut tout aussi bien rédiger la ligne suivante qui aura le même effet que ci-dessus avant la "," : */

body
{
    background: url(contenu/Grayfox3.png) fixed no-repeat top right, url(contenu/fond-hightech.png) fixed; /* url après la "," permet d'afficher un 2cd fond */
}

/* Ci-dessous on ajoute une arrière plan coloré au paragraphe déterminé par <mark>, on change la couleur de la police et on ajoute de la transparence au fond uniquement avec rgba */

mark
{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;   
}

.bordure
{
    border-radius: 20px; /* bordure arrondie */
    color: greenyellow;
}

.bordure_fond
{
    background-color: black;
    color: white;
    border-radius: 20px / 10px; /* bordure arrondie à courbes elliptiques */
}

.ombre
{
    background-color: white;
    border: white solid 20px;
    box-shadow: 10px 10px 0px black;
}

.dégradé
{
    background-color: white;
    border: white solid 20px;
    box-shadow: 10px 10px 10px black;
}

.texte_ombré
{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    text-shadow: 2px 2px 4px black;
}