p   /* balise à modifier */
{
    color: black;    /* la propriété et sa valeur */
    font-size: 1em;   /* Paragraphes en valeur relative */
}

/* on peut effectuer la même modif sur plusieurs balises en même temps */

h1, em
{
    color: red;
}

/* .intro correspond au paragraphe identifié dans le fichier html, lui seul sera en bleu */
.intro
{
    color: blue;
}

/* .quantité correspond au span identifié */
.quantité
{
    color: green;
}

h1
{
    font-size: 2em; /* Titres en valeur relative */
    font-style: italic; /* le titre sera en italique */
}

/* utilisation de la balise universelle pour appliquer le font-family à toutes les balises */
*
{
    font-family: 'Trebuchet MS', Arial, 'Times New Roman', Verdana, sans-serif;
}